# ==========================
# Base de datos
# ==========================
DATABASE_URL="postgresql://postgres:postgres@localhost:5434/observatorio_ux"

# ==========================
# JWT
# ==========================
JWT_SECRET="observatorio-ux-dev-secret"
JWT_EXPIRES_IN="1h"

# ==========================
# Aplicación
# ==========================
PORT=3000

NODE_ENV=development
CORS_ORIGIN="http://localhost:5173"
