# ==========================
# Base de datos
# ==========================
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/observatorio_ux"

# ==========================
# JWT
# ==========================
JWT_SECRET="observatorio-ux-dev-secret"

# ==========================
# Aplicación
# ==========================
PORT=3000

NODE_ENV=development